<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ECONO SHOP - <%= title %></title>
    <link rel="stylesheet" href="/css/econoshop.css">
</head>
<body>
    <% if ( userSession ) { %>
        <header><a href="/">Econo Shop</a></header>
        <nav class="nav1">
            <a class="basket" href="/cart">장바구니</a>
            <div class="line1"></div>
            <a class="mypage" href="/mypage">마이페이지</a>
            <div class="line2"></div>
            <% if (userSession) { %>
                <p class="session-name"><%= userSession.name %> 회원님 안녕하세요!</p>
                <a class="login" href="/logout">로그아웃</a>
            <% } else { %>
                <a class="login" href="/login">로그인</a>
            <% } %>
        </nav>
        <nav class="nav2">
            <a class="goods" href="/goods">굿즈</a>
            <a class="groupbuy" href="/groupBuy">공동구매</a>
            <a class="fleamarket" href="/fleamarket" style="color:#1369ea">플리마켓</a>
            <a class="event" href="/event">행사</a>
        </nav>
        <a class="btn-write" href="/create"> 새 글 작성하기 ></a>
        <section>
            <div id="product-block" style="top: 322px">
                <% for (const post of posts) { %>
                    <div class="product-container">
                        <div>
                            <img class="product-img" src="./uploads/<%= post.imgDateName[0]%>" alt="">
                        </div>
                        <div class="contents">
                            <span class="content-title"><a href="/fleaMarket/?id=<%= encodeURIComponent(post.title) %>"><%= post.title %></a></span>
                            <span class="price"><a href="/fleaMarket/?id=<%= encodeURIComponent(post.title) %>"><%= post.price %></a></span>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    <% } else { %>
        <script>
            alert("로그인이 필요한 페이지입니다.");
            window.location.href="/login"
        </script>
    <% } %>
</body>
</html>