<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ECONO SHOP - <%= title %></title>
    <link rel="stylesheet" href="/css/econoshop.css">
</head>
<body>
    <% if ( userSession ) { %>
        <header><a href="/">Econo Shop</a></header>
        <nav class="nav1">
            <div class="basket">장바구니</div>
            <div class="line1"></div>
            <div class="mypage">마이페이지</div>
            <div class="line2"></div>
            <div class="login">로그아웃</div>
        </nav>
        <nav class="nav2">
            <div class="goods">굿즈</div>
            <div class="groupbuy">공동구매</div>
            <div class="fleamarket" style="color:#1369ea">플리마켓</div>
            <div class="event">행사</div>
        </nav>
        <a class="btn-write" href="/create"> 새 글 작성하기 ></a>
        <section>
            <form action="/update_process" method="post">
                <input type="hidden" name="id" value="<%= title %>">
                <p><input class="post-title" type="text" name="title" placeholder="제목" value="<%= title %>"></p>
                <p><input class="post-price" type="text" name="price" placeholder="가격" value="<%= price %>"></p>
                <p>
                    <textarea class="post-description" name="description" placeholder="상품 설명"><%= description %></textarea>
                </p>
                <div>
                    <label class="img-input-label" for="img-input"><img class="img-input-img" src="../img/upload.png"></label>
                    <input type="file" class="img-input" name="img" multiple accept="image/*">
                </div>
                <p>
                    <input class="post-button" type="submit">
                </p>
            </form>
        </section>
    <% } else { %>
        <script>
            alert("로그인이 필요한 페이지입니다.");
            window.location.href="/login"
        </script>
    <% } %>
</body>
</html>