<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ECONO SHOP - <%= title%></title>
    <link rel="stylesheet" href="/css/econoshop.css">
</head>
<body>
    <% if ( userSession ) { %>
        <header><a href="/">Econo Shop</a></header>
        <nav class="nav1">
            <div class="basket">장바구니</div>
            <div class="line1"></div>
            <div class="mypage">마이페이지</div>
            <div class="line2"></div>
            <div class="login">로그아웃</div>
        </nav>
        <nav class="nav2">
            <a class="goods" href="/goods">굿즈</a>
            <a class="groupbuy" href="/groupbuy">공동구매</a>
            <a class="fleamarket" href="/fleaMarket" style="color:#1369ea">플리마켓</a>
            <a class="event" href="/event">행사</a>
        </nav>
        <a class="btn-write" href="/create"> 새 글 작성하기 ></a>
        <section class="write-box">
            <p class="view-title"><%= title %></p>
            <p class="view-price"><%= price %></p>
            <p class="view-description"><%= description %></p>
            <% for (let i = 0; i < imgDateName.length; i++) { %>
                <div class="img-ctrl-container">
                  <img class="product-img-update" src="/uploads/<%= imgDateName[i] %>" alt="">
                </div>
              <% } %>
            <a class="update-button" href="/update?id=<%=title%>">글 수정하기</a><a class="view-button" href="/fleaMarket">상품 목록</a>
            <form action="/delete_process" method="post">
                <input type="hidden" name="id" value="<%=title%>">
                <input class="delete-button" type="submit" value="글 삭제하기">
            </form>
        </section>
    <% } else { %>
        <script>
            alert("로그인이 필요한 페이지입니다.");
            window.location.href="/login"
        </script>
    <% } %>
</body>
</html>